@{
    ViewBag.Title = "About";
}

<h2 id="resume">Resume</h2>
<div id="info">
    <img src="@Url.Content("~/img/kevin.jpg")" alt="Kevin Thomer" />
    <section>
        <h3>Education (Highschool + College, Graduate Year, degree, major and school)</h3>
        <ul>
            <li>In-progress, BSc., MIS, California State University, Long Beach</li>
            <li>2010, AA, Undeclared, Golden West College</li>
            <li>2007, HS Diploma, Pacifica High School GGUSD</li>
        </ul>
    </section>
    <section>
        <h3>Working experience (Title, Company, and Years)</h3>
        <ol>
            <li>Systems Administrator, Grant Optometric Group, 4.5 years</li>
        </ol>
    </section>
    <section>
        <h3>Things I learned and enjoyed about IS445 Internet Application Development</h3>
        <p>Further learning about good web, in particular form design was nice. Going into
            front-end framework Bootstrap was also very informative. Above all, was of course
            learning ASP.NET MVC4, which is significantly different from previous web
            application frameworks that I have used, providing it with many unique features. I
            also enjoyed the general C# information that was taught in relation to ASP.NET.
        </p>
    </section>
</div>