@{
    ViewBag.Title = "Absolute";
}
<div id="layouts" class="abs">
    <article> &lt;My Article&gt;
        <section>&lt;Section One&gt;</section>
        <section>&lt;Section Two&gt;</section>
    </article>
    <aside class="abs">&lt;Aside&gt;</aside>
    <footer>&lt;Footer&gt;</footer>
</div>
