@{
    ViewBag.Title = "Float";
}

<div id="layouts">
    <article class="float"> &lt;My Article&gt;
        <section>&lt;Section One&gt;</section>
        <section>&lt;Section Two&gt;</section>
    </article>
    <aside class="float">&lt;Aside&gt;</aside>
    <footer class="float">&lt;Footer&gt;</footer>
</div>