<h2>Home Page</h2>

<h3>This is an ASP.NET MVC4 generated page for the Index view</h3>

<p>
    ASP.NET MVC one of three methods of creating websites using the ASP.NET framework. The other two options are ASP.NET Web Forms
    and ASP.NET Web Pages. ASP.NET Web Forms was the first method and shares similarities to Windows Form applications. Web Forms 
    is a newer method that uses Razor views (like modern MVC does) and almost all logic relies in a single page. MVC was used for this site,
     specifically MVC4. The latest version, released just this past October (2013) was MVC5. MVC4 by default also uses Razor views. 
    ASP.NET MVC's name comes from the popular design pattern it is based on: <a href="http://en.wikipedia.org/wiki/Model–view–controller">Model-View-Controller</a>.
     This design pattern allows you to easily make changes to business logic (controller) while not having to worry about any changes 
    happening to the website's design that the user sees (view). Data is also separated (Model). This modularity allows changes to be
    more easily made. ASP.NET MVC is a great choice for server-side programming, as it allows the utilization of, not just C#, but any
    language that runs on the .NET Framework. The allowance for compiled code means that it can have performance advantages over frameworks
    that use interpreted languages like Yii (PHP, which can also be used for web development all on its own), Django (Python), and Ruby on Rails (Ruby).
</p>
<p>Please enjoy this demo of ASP.NET MVC4</p>